/*----------Importing Google Fonts----------*/
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Indie+Flower|Walter+Turncoat");

body {
	background-image: url("https://twoloves.files.wordpress.com/2013/03/pswkor_5955.jpg");
	background-size: 100% 110%;
	background-attachment: fixed;
}

/*----------GifTastic----------*/
h1 {
	text-align: center;
	font-family: "Walter Turncoat";
	font-weight: bold;
	font-size: 52px;
	color: white;
	padding: 20px;
	text-shadow: 4px 4px black;
	background-color: #73d793;
	border-radius: 10px;
	margin-bottom: 50px;
}

/*----------Panel----------*/
.panel.panel-default {
	font-family: "Architects Daughter";
	position: fixed;
	width: 29%;
	font-size: 19px;
}

#button-title {
	margin-left: 25px;
}

#add-gif {
	border-radius: 5%;
	border:none;
	background-color: #e5d6d5;
}

#add-gif:hover {
	background-color: #cec0bf;	
}

#add-gif:active {
  	box-shadow: 0 5px lightgray;
	transform: translateY(3px);

}

label {
	margin: 10px;
	text-align: center;
	font-weight: bold;
}

/*----------Buttons----------*/
.gif-button {
	margin: 10px;
	border: none;
	background-color: #73d793;
	padding: 5px 10px;
	font-family: "Indie Flower";
	font-weight: bold;
	border-radius: 10%;
    font-size: 16px;
}

button:hover {
	background-color: #37c666;
}

button:active {
  background-color: #37c666;
  box-shadow: 0 5px lightgray;
  transform: translateY(3px);
}
 
/*----------Gifs appear here----------*/
h2 {
	text-align: center;
	color: white;
	font-family: "Architects Daughter";
	text-shadow: 4px 4px black;
}

/*----------Gifs----------*/
h3 {
	text-align: center;
	color: white;
	font-family: "Architects Daughter";
	margin-top: 5	0px;
}
img {
  	display: block;
 	margin: auto;
}